flows.json
[{"id":"3af82246.3634ae","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"39fdc2c1.68a6c6","type":"inject","z":"3af82246.3634ae","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":60,"wires":[["cf247f1b.b5475"]]},{"id":"cf247f1b.b5475","type":"debug","z":"3af82246.3634ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":500,"y":120,"wires":[]},{"id":"69b87e82.c98d88","type":"http in","z":"3af82246.3634ae","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":100,"y":240,"wires":[["47f9946e.e7bad4"]]},{"id":"ab075dd5.8a7da8","type":"http response","z":"3af82246.3634ae","name":"","statusCode":"","headers":{},"x":440,"y":240,"wires":[]},{"id":"47f9946e.e7bad4","type":"change","z":"3af82246.3634ae","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"text\":\"Hello\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":240,"wires":[["ab075dd5.8a7da8"]]}]