flows.json
[{"id":"3af82246.3634ae","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"39fdc2c1.68a6c6","type":"inject","z":"3af82246.3634ae","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":80,"wires":[["e4c570cc.110368"]]},{"id":"cf247f1b.b5475","type":"debug","z":"3af82246.3634ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":160,"wires":[]},{"id":"69b87e82.c98d88","type":"http in","z":"3af82246.3634ae","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":100,"y":240,"wires":[["47f9946e.e7bad4"]]},{"id":"ab075dd5.8a7da8","type":"http response","z":"3af82246.3634ae","name":"","statusCode":"","headers":{},"x":440,"y":240,"wires":[]},{"id":"47f9946e.e7bad4","type":"change","z":"3af82246.3634ae","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"text\":\"Hello\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":240,"wires":[["ab075dd5.8a7da8"]]},{"id":"e4c570cc.110368","type":"http request","z":"3af82246.3634ae","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://informo.munimadrid.es/informo/tmadrid/pm.xml","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":80,"wires":[["4bac45fe.7308e4"]]},{"id":"4bac45fe.7308e4","type":"xml","z":"3af82246.3634ae","name":"","property":"payload","attr":"","chr":"","x":270,"y":160,"wires":[["fe9b0f82.e0bcf"]]},{"id":"fe9b0f82.e0bcf","type":"function","z":"3af82246.3634ae","name":"","func":"for (var i=0;i<msg.payload.pms.pm.length;i++){\n    \n    if (msg.payload.pms.pm[i].idelem[0] === '3409'){\n        var carga = msg.payload.pms.pm[i].carga[0];\n        var idelem = msg.payload.pms.pm[i].idelem[0];\n        msg.payload={}; //clear msg.payload contents\n        msg.payload.idelem = idelem;\n        msg.payload.carga = carga;\n        msg.payload.timestamp=Date.now(); //insert timestamp\n        node.send(msg) //send new msg to output\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":160,"wires":[["cf247f1b.b5475"]]}]